@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --darkBlue: hsl(238, 29%, 16%);
  --softRed: hsl(14, 88%, 65%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

.page {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  min-height: 100vh;
  margin: 0;
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10% 6%;
}

.container {
  max-width: 96%;
  padding: 8%;
  border-radius: 25px;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.2);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container__title {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  opacity: .8;
  margin-bottom: 5%;
  margin-top: 0;
  color: var(--softRed);
}

.image-wrapper {
  position: relative;
  width: 300px;
  height: 104px;
  background-image: url("images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: -20px;
}

.container__image {
  position: absolute;
  top: -142px;
  left: -16px;
  width: 300px;
}

.desktop, .box {
  visibility: hidden;
}

.faqs {
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.faq {
  margin-top: 1em;
  min-height: 2em;
}

.faq:after {
  content:"";
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  display: block;
}

.faq__header {
  display: flex;
  justify-content: space-between;
}

.faq__question--active {
  font-weight: 700;
  color: var(--softRed);
}

.faq__btn {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  transition: .25s linear;
}

.faq__btn--active {
  transform: rotate(180deg);
}

.faq__answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity .5s linear, max-height .5s linear;
  will-change: opacity, max-height;
  padding: 10px 0;
  color: rgba(0, 0, 0, 0.6);
}

.faq__answer--active {
  opacity: 1;
  max-height: 12em;
  transition: all .5s linear;
  will-change: opacity, max-height;
}

@media(min-width: 1050px) {
  .page {
    padding: 2% 5%;
  }

  .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 800px;
    max-height: 400px;
    padding: 225px 4%;
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -100px;
    background-position-y: 30px;
  }

  .image-wrapper {
    background: none;
  }  

  .container__image {
    top: -100px;
    left: -150px;
    width: 500px;
  }

  .desktop, .box {
    visibility: visible;
  }

  .box {
    width: 191px;
    height: 184px;
    position: absolute;
    top: 50px;
    left: -172px;
    transition: all 1s ease-in-out;
  }

  .box--active {
    transform: translateX(-20px);
  }

  .mobile {
    visibility: hidden;
  }

  .container__title {
    position: relative;
    top: -160px;
    left: 63px;
  }

  .faqs {
    max-width: 50%;
  }

  .faq__question {
    transition: .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    cursor: pointer;
  }

  .faq__question:hover {
    color: var(--softRed);
  }
}

@media(min-width: 1200px) {
  .container__image {
    top: -100px;
    left: -200px;
    width: 500px;
  }

  .box {
    width: 191px;
    height: 184px;
    position: absolute;
    top: 40px;
    left: -200px;
    transition: all 1s ease-in-out;
  }
}